//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Institutional Asset Management
description: Experience an approach to investing that blends consultative services with customized solutions.

sidebar:
  image: meeting-2.jpg
  title: Connect with Commerce Trust
  text: Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
  button_text: Learn more
  button_url: http://google.com

---
//- This will add the content of this page inside the 'global.jade' file
extends ../../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Indent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Indent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text Experience an approach to investing that blends consultative services with customized solutions.
    .banner-standard__media-approach.col-7-12
      img(src="../images/institutional_asset_mgmt.jpg", alt="Corporate setting with executive talking to employees")

  .main-standard
    .main-standard__content.col-7-12
      .main-standard__text
        p As the steward of your organization’s mission, your investment decisions can impact the well-being and financial health of many individuals and constituencies for years at a time. Whether your responsibilities are for a business, an institution, a university or a charitable foundation or endowment, you want professional knowledge, resources and innovative approaches to keep your organization competitive in the market place.
        p As the money manager for a broad range of institutional clients, The Commerce Trust Company is known for our collaboration with our clients on customized investment goals. We take a highly comprehensive approach to analyzing risk and reward and to investing in the context of each organization’s needs.
        ul
          li
            a(href='/institutional-asset-management/institutional-investment-management.html') Investment Management
          li
            a(href='/institutional-asset-management/trust-and-custody-services.html') Trust & Custody Services
          li
            a(href='/institutional-asset-management/retirement-plan-services.html') Retirement Plan Services
          li
            a(href='/institutional-asset-management/non-profit-services.html') Non-profit Services
          li
            a(href='/institutional-asset-management/corporate-trust.html') Corporate Trust

        img(src="../images/CTC_InstitutionalAssetManagementGraphic_cropped.jpg", alt="Graphic of five service categories")
    include ../../inc/sidebar.jade
