//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Institutional Investment Management
description: The key to successful investing is a consistent, disciplined process.

sidebar:
  image: meeting-2.jpg
  title: Connect with Commerce Trust
  text: Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
  button_text: Learn more
  button_url: http://google.com

---
//- This will add the content of this page inside the 'global.jade' file
extends ../../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Indent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Indent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text The key to successful investing is a consistent, disciplined process.
    .banner-standard__media-approach.col-7-12
      img(src="../images/institutional_invest_mgmt.jpg", alt="Stock market ticker data")

  .main-standard
    .main-standard__content.col-7-12
      .main-standard__text
        p Your organization’s investment challenges are complex, and meeting your day-to-day and long-term financial commitments requires a financial partnership with a proven manager with deep resources. The Commerce Trust Company can provide a comprehensive program of analysis to help you and your organization understand your investment options.
        p We manage over $8.7 billion in assets for a wide variety of organizations just like yours. Our experienced team manages a broad range of investment strategies that are consistently applied in philosophy and approach to meet our clients’ objectives. Then we combine the historical strength of our fixed-income and equity strategies with some of the best investment products from around the world – including those otherwise accessible only to large institutional investors – to develop a custom portfolio tailored to your financial goals.
        ul
          li Separately managed accounts for fixed income or equity mandates
          li Mutual funds
          li Asset allocation – model portfolios
          li Hedging strategies for concentrated equity positions

    include ../../inc/sidebar.jade
