//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Non-Profit Services
description: Look for a financial partner in the “business of doing good.”

sidebar:
  image: meeting-2.jpg
  title: Connect with Commerce Trust
  text: Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
  button_text: Learn more
  button_url: http://google.com

breadcrumb:
  rootname: Institutional Asset Management
  rooturl: /institutional-asset-management/

  currentpage: Non-Profit Services

---
//- This will add the content of this page inside the 'global.jade' file
extends ../../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Indent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Indent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text Look for a financial partner in the “business of doing good.”
    .banner-standard__media-approach.col-7-12
      img(src="../images/non_profit.jpg", alt="University campus non-profit institution")

  .main-standard
    .main-standard__content.col-7-12
      include ../../inc/breadcrumb.jade
      
      .main-standard__text
        p The “business of doing good” is not for the faint of heart. We know meeting your organization’s long-term mission can be an almost overwhelming responsibility when juggling tight budgets and the expectations of those you serve. You need advisor who can help you feel comfortable making the decisions that affect your organization’s financial future.
        p At The Commerce Trust Company, we understand that non-profits must make the most of often-underfunded resources – usually while facing a growing need for services or potential funding issues outside their control. From establishing an investment policy statement to maximizing the relationship you have with your staff or executive board, the pressure to perform is every bit as daunting as that of any for-profit operation.
        p Commerce Trust works with our clients to provide access to a host of tools designed specifically to help non-profits address these kinds of issues, customizing our services to the unique needs of each organization we serve.
        p Our foundation and endowment services provide:
        ul
          li Mission and strategy development, advisory services, management and governance, grant making, due diligence
          li Portfolios to maximize returns at an agreed-upon level of risk, after the investment policy statement (IPS) is defined
          li Exceptional personal service through our trustee, custody and administrative capabilities
        img(src="../images/CTC_NonProfitServicesGraphic_cropped.jpg", alt="Non-Profit Four Step Process Graphic")

    include ../../inc/sidebar.jade
