//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Retirement Plan Services
description: Providing investment resources for your employees is an important responsibility – as important as any other financial matter you tend to on their behalf.

sidebar:
  image: meeting-2.jpg
  title: Connect with Commerce Trust
  text: Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
  button_text: Learn more
  button_url: http://google.com

breadcrumb:
  rootname: Institutional Asset Management
  rooturl: /institutional-asset-management/

  currentpage: Retirement Plan Services

---
//- This will add the content of this page inside the 'global.jade' file
extends ../../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Indent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Indent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text Providing investment resources for your employees is an important responsibility – as important as any other financial matter you tend to on their behalf.
    .banner-standard__media-approach.col-7-12
      img(src="../images/retirement_plan_services.jpg", alt="Union employees at a factory")

  .main-standard
    .main-standard__content.col-7-12
      include ../../inc/breadcrumb.jade
      
      .main-standard__text
        p The responsibility of providing an investment platform for employees may be as important as any other financial resource you provide for the families connected to your business. Helping employees make the best decisions for their retirement years is also likely to be a critical component in attracting and keeping key contributors within your organization.
        p The Commerce Trust Company has provided investment advisory and retirement consulting services to retirement plan sponsors since the inception of the Employee Retirement Income Security Act of 1974 (“ERISA”). Our retirement practice fully leverages seven decades of experience as a fiduciary and investment advisor to individuals and institutions.
        p We believe that strength and experience are key considerations when hiring a fiduciary for your plan, and we are proud to provide our clients the security of a nationally recognized financial institution with the convenience of a local service.
        p Our retirement consulting and investment advisory services include:
        ul
          li 3(21) or 3(38) fiduciary services
          li Full monitoring, review and reporting of plan investments
          li Manager selection and recommended fund changes
          li Investment Policy review and/or development
          li Market overview/commentary
          li Plan design consulting
          li Fee benchmarking
          li Plan document review
          li Strategic participant education planning
          li Manager oversight
          li Legislative and regulatory updates
        p Commerce Trust can help you navigate the complexities of ERISA with our dedicated consulting team and well-structured investment strategies. Our entire team brings extensive experience in working with your:
        ul
          li Retirement plan committee
          li Record keeper and other service providers
          li Actuaries and auditors
          li Benefit payment and tax reporting providers

    include ../../inc/sidebar.jade
