//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Personal Investment Management
description: Investing is personal. It’s not just about numbers and figures. It’s about reaching your goals.

sidebar:
  image: meeting-2.jpg
  title: Connect with Commerce Trust
  text: Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
  button_text: Learn more
  button_url: http://google.com

---
//- This will add the content of this page inside the 'global.jade' file
extends ../../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Indent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Indent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text Investing is personal. It’s not just about numbers and figures. It’s about reaching your goals.
    .banner-standard__media-approach.col-7-12
      img(src="../images/personal_invest_mgmt.jpg", alt="Mountain climber standing on peak looking over expanse")

  .main-standard
    .main-standard__content.col-7-12
      .main-standard__text
        p When you turn to The Commerce Trust Company for advice on managing your personal investments and achieving your individual financial objectives, you will find a team committed to getting to know you. By understanding where you are in life and the priorities driving your investment strategy, we can then develop a comprehensive plan to help you reach your goals.
        p We help you identify your goals and aspirations – both short-term and long-term – and equip you to make the best possible financial decisionswith confidence and clarity.
        p Our approach combines our personal investment services into a road map and provides you with a baseline for monitoring your progress.
        p Move beyond thinking of results only in terms of simply meeting or beating investment benchmarks and keep focused on what matters most -- achieving your long-term goals.
        img(src="../images/CTC_FourStepProcessGraphic_personal_investment_cropped.jpg", alt="Four Step Process Graphic")

    include ../../inc/sidebar.jade
