//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Private Banking
description: Access a broad range of banking products and services to meet your cash flow objectives and borrowing needs.

sidebar:
  image: meeting.jpg
  title: Connect with Commerce Trust
  text: Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
  button_text: Learn more
  button_url: http://google.com

breadcrumb:
  rootname: Private Wealth Management
  rooturl: /personal-wealth-management/
  currentpage: Private Banking

---
//- This will add the content of this page inside the 'global.jade' file
extends ../../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Indent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Indent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text Access a broad range of banking products and services to meet&nbsp;your cash flow objectives and borrowing needs.
    .banner-standard__media-approach.col-7-12
      img(src="../images/private_banking.jpg", alt="Private banker meeting with clients")

  .main-standard
    .main-standard__content.col-7-12
      include ../../inc/breadcrumb.jade
      
      .main-standard__text
        p For over a century, The Commerce Trust Company has provided private banking services for wealthy individuals like you and families like yours. From checking and savings programs to sophisticated financing structures, we will work to meet your changing needs with innovative solutions and unparalleled personal service. Our private bankers can help meet a broad range of your financial needs, including:
        ul
          li Managing everyday cash flow and bill payment
          li Leveraging credit strategies tailored to your overall plan
        p Select Private Banking products and services include:
        ul
          li Checking and money market accounts
          li Cash management strategies
          li International cash transfers
          li Currency exchange
          li Customized credit solutions
          li Mortgage and home equity financing
          li Residential construction lending
          li Aircraft and marine financing
          li Stock option lending
        img(src="../images/eho.png", alt="Equal Housing Opportunity Logo", width="50px", height="50px")

    include ../../inc/sidebar.jade
