//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Trust and Estate Services
description: Protect your assets and pass them on according to your wishes.

sidebar:
  image: meeting-2.jpg
  title: Connect with Commerce Trust
  text: Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
  button_text: Learn more
  button_url: http://google.com

---
//- This will add the content of this page inside the 'global.jade' file
extends ../../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Indent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Indent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text Protect your assets and pass them on according to your wishes.
    .banner-standard__media-approach.col-7-12
      img(src="../images/trust_estate.jpg", alt="Grandpa son grandson walking in the fall legacy")

  .main-standard
    .main-standard__content.col-7-12
      .main-standard__text
        p The Commerce Trust Company understands that preserving your assets can be as challenging as building them. That is why an experienced advisor will help you navigate the sometimes uncomfortable process of identifying potential risks to you and your family and setting up trusts to minimize your exposure.
        p Utilizing trust services can help you maintain control of your finances by:
          ul
            li Reducing taxes
            li Providing for family, friends, and/or charitable causes
            li Distributing your assets privately and expeditiously
            li Outlining your medical wishes
        p A Commerce Trust advisor can assist you and your family with:
          ul
            li Trust and probate administration
            li Charitable trusts
            li Family foundation management
            li Real estate management
            li Closely held business management
            li Tax compliance and reporting
            li Personal bill paying
            li Elder care services

    include ../../inc/sidebar.jade
