//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Wealth Planning
description: Life is not one-dimensional. That’s why we create comprehensive wealth plans – to consider all its many aspects.

sidebar:
  image: meeting-2.jpg
  title: Connect with Commerce Trust
  text: Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
  button_text: Learn more
  button_url: http://google.com

breadcrumb:
  rootname: Private Wealth Management
  rooturl: /personal-wealth-management/
  currentpage: Wealth Planning

---
//- This will add the content of this page inside the 'global.jade' file
extends ../../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Indent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Indent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text Life is not one-dimensional. That’s why we create comprehensive wealth plans – to consider all its many aspects.
    .banner-standard__media-approach.col-7-12
      img(src="../images/wealth_planning.jpg", alt="Hand holding a compass standing on a wooded trail journey")

  .main-standard
    .main-standard__content.col-7-12
      include ../../inc/breadcrumb.jade
      
      .main-standard__text
        p Some clients have a clear understanding of where they want to go. Others may need guidance and a trusted advisor with whom to talk through those difficult decisions. Regardless of which one you are, The Commerce Trust Company is here to help.
        p Our Financial Advisory Services team can help you chart a path to reach your financial goals, provide guidance to stay the course, and get you back on track when unexpected detours occur. Our experienced financial planners will work with you to develop a strategic plan to address your needs, including:
        ul
          li Retirement and estate planning
          li Income tax management
          li Long-term care plans
          li Disability and life insurance needs
          li Education planning
          li Charitable giving strategies
          li IRA distribution and stock option alternatives
        p Additionally, the Financial Advisory Services team can assist business owners with unique planning challenges such as:
          ul
            li Management consulting
            li Succession planning
            li Retirement and benefit plans
            li Business valuations
            li Real estate valuations and property management

    include ../../inc/sidebar.jade
