.card-diptic
  display: flex
  border-top: 1px solid $borderColor
  border-bottom: 1px solid $borderColor

  +responsive-stack

  &__box
    padding: 2rem 1rem

    +media(">tablet")
      padding: 2rem 1rem 2rem 2rem

    &:nth-child(2)
      +media(">tablet")
        border-left: 1px solid $borderColor
        padding: 2rem 2rem 2rem 1rem

  &__title
    +standard-heading() //Mixin can be found in typography
    text-align: center

  &__media
    background-color: $green
    height: 150px
    img

  &__text
    text-align: center

  ul
    text-align: center
    li
      display: inline-block
      list-style: none

  &__link
    color: $site-text-color-link
    display: inline-block
    font-family: $serif
    padding: 0 .4rem
    &:hover
      color: $site-text-color-link-hover


// Card Bio - These are found on the Leadership page
.card-bio
  display: flex
  padding-bottom: 2rem

  +responsive-stack

  &__media
    background-color: $green
    height: 355px

    img

  &__box
    flex: 4
    padding-top: 1rem
    +media(">tablet")
      padding-left: 2rem
      padding-top: 0

  &__title
    +standard-heading() //Mixin can be found in typography

  &__subtitle
    color: $graphite

  &__text

    * + *
      margin-top: 1rem


// Card article - These are found on the News and Insights page
.card-article


  &__box
    box-shadow: 0 1px 0 $green
    +vert-padding(1,1)

    * + *
      margin-top: 1rem

  h2
    +standard-heading() //Mixin can be found in typography

  small
    color: $graphite
    font-size: .75rem

  p


.card-triptic
  display: flex
  border-top: 1px solid $borderColor
  border-bottom: 1px solid $borderColor

  +responsive-stack

  &__box
    padding: 2rem

    +media(">tablet")
      //padding: 2rem 1rem 2rem 2rem

    &:nth-child(2)
      +media(">tablet")
        border-left: 1px solid $borderColor
        //padding: 2rem 1rem 2rem 1rem

    &:nth-child(3)
      +media(">tablet")
        border-left: 1px solid $borderColor
        //padding: 2rem 2rem 2rem 1rem

  &__media
    //background-color: $green
    height: 150px
    overflow: hidden

    img

  &__title-link
    +small-heading()
    color: $site-text-color-link
    display: inline-block
    text-align: center

    &:hover
      color: $site-text-color-link-hover

  &__text
    text-align: center
