// Site color palette
$green: #267e64
$nightgreen: #455652
$slate: #eceee6

// 50 shades of gray
$white: #fff
$steam: #f8f8f8
$cloud: #e5e6e7
$graphite: #ccc
$stone: #7f7e7e
$lead: #6e6b6c
$charcoal: #333
$black: #000


$mobile-nav-btn: $slate

//Border Color
$borderColor: $graphite

// Site base text colors
$site-text-color: $charcoal
$site-text-color-link: $green
$site-text-color-link-hover: #455652


// Footer colors
$footer-text: $nightgreen
$footer-text-link: $nightgreen
$footer-text-link-hover: $green
