// Vars
$base-font-size: 16px
$base-line-height: 1.5

// Typefaces
$sans: News Cycle, sans-serif
$serif: Playfair Display, serif

// Font weights
$xlight: 200
$light: 300
$normal: 400
$semibold: 600
$bold: 700

// Line height function
@function line-height()
  @return $base-font-size * $base-line-height

// Var must be specified after returning the line-height function
$cal-line-height: line-height()

// Mixins
=vert-margin($top: 1, $bottom: 1)
  margin-top: $cal-line-height * $top
  margin-bottom: $cal-line-height * $bottom

=vert-padding($top: 1, $bottom: 1)
  padding-top: $cal-line-height * $top
  padding-bottom: $cal-line-height * $bottom


html
  font-size: $base-font-size
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

body
  color: $charcoal
  line-height: 1.5
  font-family: $sans
  //background-image: linear-gradient(transparent, transparent line-height() - 1px, $green 1px , transparent)
  background-size: auto line-height()
  margin: 0


//[class*='__headline']


// Used in article headers in the .Main columns
[class*='__heading']
  color: $green
  font-family: $serif
  font-size: 2.5rem
  font-weight: $normal
  line-height: 1
  margin-bottom: 2rem

=standard-heading()
  color: $green
  font-family: $serif
  font-size: 2rem
  font-weight: $normal
  line-height: 1


// Found in the Main Blog Posts
=minor-heading()
  color: $nightgreen
  font-family: $serif
  font-size: 1.25rem
  font-weight: $bold
  line-height: 1
  text-transform: uppercase
  +vert-margin(1.5,0)


// Used in article headers in the .Main columns
=small-heading()
  color: $green
  font-family: $serif
  font-size: 1.375rem
  font-weight: $normal
  line-height: 1


// Found in the Main Blog Posts
=blockquote()
  color: $green
  font-family: $serif
  font-size: 1.5rem
  font-style: italic
  font-weight: $bold
  +vert-margin(1.5,1.5)


//input[type="submit"]

[class*=__button],
input[type="button"],
input[type="reset"]
  border: 1px solid $green
  display: inline-block
  font-family: $serif
  font-size: 1.2rem
  font-style: italic
  text-align: center
  padding: .75rem 3rem
  text-decoration: none
  /*Items for transition
  background-color: transparent
  color: $green
  /*Transition settings
  transition: all .2s ease

  &:hover
    /*These will transition on hover
    background-color: $green
    color: $white


// in progress

// Mixins
=button($background, $color, $border-color)
  border: 1px solid $border-color
  font-family: $serif
  font-size: 1.2rem
  font-style: italic
  padding: .5rem 1rem
  text-decoration: none
  /*Items for transition
  background-color: transparent
  color: $color
  /*Transition settings
  transition: all .2s ease
  &:hover
    /*These will transition on hover
    background-color: $green
    color: $color
