//- This file includes:
//- 1. nav-minor - this is the minor nav at the top right
//- 2. logo
//- 3. cd-nav - this is the main navigation

//- nav.nav-minor
//-   ul
//-     each vals in nav_minor
//-       li
//-         a(href="#{vals.url}").nav-minor__link= vals.page

header.cd-main-header
  ul.cd-header-buttons
    //- li
    //-   a.cd-search-trigger(href="#cd-search") Search
    //-     span
    li
      a.cd-nav-trigger(href="#cd-primary-nav") Menu
        span
