a.logo(href="/")
  svg#Layer_1(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewbox="958.3 555.4 793.7 89.2", enable-background="new 958.3 555.4 793.7 89.2", xml:space="preserve" aria-labelledby="title")
    title#title The Commerce Trust Company
    g
      g
        g
          polygon(fill="#007D5A", points="1061.7,588.4 1061.7,617.2 1053.4,617.2 1053.4,588.4 1044,588.4 1044,582 1071.1,582 \
          1071.1,588.4 			")
        g
          path(fill="#007D5A", d="M1090.8,617.2v-16.5c0-1.6-0.1-3.5-3-3.5c-2.2,0-3.5,2.5-4.9,4.9v15.1h-7.5v-35.8h7.5v13.9\
          c0.7-0.7,2.8-3.9,6.2-3.9c7.7,0,9.3,4.2,9.3,10.1v15.5h-7.5V617.2z")
        g
          path(fill="#007D5A", d="M1110.6,607.9c0.7,3.3,2.9,4.5,5.4,4.5c2.2,0,5.1-0.9,7.7-2.2l2.5,5.6c-3,1.3-7,2-10.6,2\
          c-8.4,0-12.7-6.1-12.7-13c0-5.8,2.6-13.5,12.3-13.5c9.4,0,12.6,5.1,12.6,16.4h-17.1V607.9z M1115.3,597.2c-1.2,0-4.3,0.3-4.6,5.2\
          h9.6C1119.9,598.2,1117.7,597.2,1115.3,597.2")
        g
          path(fill="#007D5A", d="M1161.5,618.4c-12.5,0-16.9-7.4-16.9-18.7c0-9.8,4.1-18.4,17.2-18.4c3,0,7.1,0.6,9.7,1.4l-2.5,7\
          c-2.3-1-4.6-2-7.2-2c-6.1,0-8.5,3.8-8.5,12c0,8.7,2.3,12.3,8.3,12.3c3,0,5.1-1.2,8-2.3l2.5,7\
          C1168.7,617.6,1165.8,618.4,1161.5,618.4")
        g
          path(fill="#007D5A", d="M1187.3,618.1c-9.3,0-13-6.2-13-13.5c0-7,3.8-13.2,13-13.2c9.4,0,12.9,5.9,12.9,13.2\
          C1200.1,611.7,1196.5,618.1,1187.3,618.1 M1187.3,597.2c-3.3,0-5.4,1.3-5.4,7.5c0,5.5,2,7.7,5.4,7.7c2.9,0,5.2-1.7,5.2-7.7\
          C1192.6,598.5,1190.7,597.2,1187.3,597.2")
        g
          path(fill="#007D5A", d="M1235.8,617.2v-15.8c0-3.8-1.2-4.2-2.6-4.2c-2.9,0-4.6,2.8-5.5,5.2v14.8h-7.5v-15.8c0-3.9-0.9-4.2-3-4.2\
          c-2.3,0-4.2,3.8-4.8,4.9v15.2h-7.5v-19.3c0-2-0.6-3.9-0.7-5.8h7l1,3c0.7-1.2,3.6-3.9,6.5-3.9c4.2,0,5.5,0.6,8.1,3.5\
          c1.4-2.3,4.1-3.5,7.7-3.5c5.9,0,8.8,3.2,8.8,9.8v15.9H1235.8z")
        g
          path(fill="#007D5A", d="M1280.2,617.2v-15.8c0-3.8-1.2-4.2-2.6-4.2c-2.9,0-4.6,2.8-5.5,5.2v14.8h-7.5v-15.8c0-3.9-0.9-4.2-3-4.2\
          c-2.3,0-4.2,3.8-4.8,4.9v15.2h-7.5v-19.3c0-2-0.6-3.9-0.7-5.8h7l1,3c0.7-1.2,3.6-3.9,6.5-3.9c4.2,0,5.5,0.6,8.1,3.5\
          c1.4-2.3,4.1-3.5,7.7-3.5c5.9,0,8.8,3.2,8.8,9.8v15.9H1280.2z")
        g
          path(fill="#007D5A", d="M1299.9,607.9c0.7,3.3,2.9,4.5,5.4,4.5c2.2,0,5.1-0.9,7.7-2.2l2.5,5.6c-3,1.3-7,2-10.6,2\
          c-8.4,0-12.7-6.1-12.7-13c0-5.8,2.6-13.5,12.3-13.5c9.6,0,12.6,5.1,12.6,16.4h-17.1V607.9z M1304.6,597.2c-1.2,0-4.3,0.3-4.6,5.2\
          h9.6C1309.2,598.2,1307,597.2,1304.6,597.2")
        g
          path(fill="#007D5A", d="M1336.6,598.2c-0.9-0.9-1.9-1-3-1c-2.8,0-3.9,3.9-4.5,5.4v14.8h-7.5v-19.6c0-2.5-0.6-4.3-0.7-5.5h7\
          l1.2,3.5c0.9-1.4,2.9-4.2,5.5-4.2c2.2,0,3.8,0.3,4.8,0.7L1336.6,598.2z")
        g
          path(fill="#007D5A", d="M1352.8,617.9c-8.4,0-13-5.4-13-13c0-8.1,4.3-13.5,13.2-13.5c2.2,0,6.8,1.2,8.5,1.7l-2.6,6.1\
          c-1.9-0.9-4.2-2.2-6.1-2.2c-3.5,0-5.5,1.3-5.5,7.7c0,5.8,2.6,7.2,5.4,7.2c1.7,0,4.3-1.2,6.4-2.2l2.6,6.1\
          C1360.1,617.1,1354.7,617.9,1352.8,617.9")
        g
          path(fill="#007D5A", d="M1371.6,607.9c0.7,3.3,2.9,4.5,5.4,4.5c2.2,0,5.1-0.9,7.7-2.2l2.5,5.6c-3,1.3-7,2-10.6,2\
          c-8.4,0-12.7-6.1-12.7-13c0-5.8,2.6-13.5,12.3-13.5c9.4,0,12.6,5.1,12.6,16.4h-17.1V607.9z M1376.3,597.2c-1.2,0-4.3,0.3-4.6,5.2\
          h9.6C1380.9,598.2,1378.7,597.2,1376.3,597.2")
        g
          polygon(fill="#007D5A", points="1420.7,588.4 1420.7,617.2 1412.5,617.2 1412.5,588.4 1403.1,588.4 1403.1,582 1430,582 \
          1430,588.4 			")
        g
          path(fill="#007D5A", d="M1468.4,617.2l-1.2-3c-1.2,1-3,3.9-6.2,3.9c-7.2,0-9-4.3-9-10v-15.8h7.5v16.2c0,1.7,0.1,3.9,2.9,3.9\
          c2.2,0,3.5-2.6,4.8-4.9v-15.2h7.5v19.6c0,2,0.4,3.6,0.7,5.4H1468.4z")
        g
          path(fill="#007D5A", d="M1489.4,618.1c-2.9,0-7.1-0.9-10-1.7l2.6-6.1c2.6,0.9,4.6,2.2,7.5,2.2c3.6,0,3.8-1,3.8-1.7v-0.1\
          c0-2.8-13.2-0.9-13.2-11.3c0-6.4,5.8-7.5,11.2-7.5c2.2,0,5.5,0.4,9,1.6l-2.5,6.1c-2.5-1.2-4.1-1.9-6.4-1.9\
          c-2.6,0-3.5,0.6-3.5,1.7c0,3.6,13.2,1.7,13.2,11.4C1500.8,616.6,1494.9,618.1,1489.4,618.1")
        g
          path(fill="#007D5A", d="M1519.4,597.4v-5.8h-5.1v-7.4h-7.5v7.4h-3v5.8h3v12.2c0,4.2,2.6,8.3,8.4,8.3h4.1v-6.2h-2.8\
          c-1.4,0-2.3-0.7-2.3-2.3v-11.7h5.2V597.4z")
        g
          path(fill="#007D5A", d="M1554.1,618.4c-12.5,0-16.9-7.4-16.9-18.7c0-9.8,4.1-18.4,17.2-18.4c3,0,7.1,0.6,9.7,1.4l-2.5,7\
          c-2.3-1-4.6-2-7.2-2c-6.1,0-8.5,3.8-8.5,12c0,8.7,2.3,12.3,8.3,12.3c3,0,5.1-1.2,8-2.3l2.5,7\
          C1561.4,617.6,1558.5,618.4,1554.1,618.4")
        g
          path(fill="#007D5A", d="M1579.9,618.1c-9.3,0-13-6.2-13-13.5c0-7,3.8-13.2,13-13.2c9.4,0,12.9,5.9,12.9,13.2\
          C1592.8,611.7,1589.2,618.1,1579.9,618.1 M1579.9,597.2c-3.3,0-5.4,1.3-5.4,7.5c0,5.5,2,7.7,5.4,7.7c2.9,0,5.2-1.7,5.2-7.7\
          C1585.1,598.5,1583.4,597.2,1579.9,597.2")
        g
          path(fill="#007D5A", d="M1628.4,617.2v-15.8c0-3.8-1.2-4.2-2.6-4.2c-2.9,0-4.6,2.8-5.5,5.2v14.8h-7.5v-15.8c0-3.9-0.9-4.2-3-4.2\
          c-2.3,0-4.2,3.8-4.8,4.9v15.2h-7.5v-19.3c0-2-0.6-3.9-0.7-5.8h7l1,3c0.7-1.2,3.6-3.9,6.5-3.9c4.2,0,5.5,0.6,8.1,3.5\
          c1.4-2.3,4.1-3.5,7.7-3.5c5.9,0,8.8,3.2,8.8,9.8v15.9H1628.4z")
        g
          path(fill="#007D5A", d="M1655.8,618.1c-1.9,0-4.9-1-6.4-3v12h-7.5V600c0-3.3-0.3-4.6-0.7-7.7h7l1.2,3c1-1.3,2.9-3.9,5.9-3.9\
          c7.8,0,10.9,6.2,10.9,13.5C1666.3,611.9,1663.1,618.1,1655.8,618.1 M1653.5,597.2c-1.7,0-2.9,2.6-4.2,4.9v6.2\
          c1.3,2.6,3.3,4.1,4.9,4.1c2.3,0,4.3-1.2,4.3-7.5C1658.7,598.1,1656.5,597.2,1653.5,597.2")
        g
          path(fill="#007D5A", d="M1687.1,617.2c0,0-1-2.5-1-2.3c-1.4,1.2-3.8,3-6.2,3c-7,0-10-2.6-10-7.2c0-5.1,3.2-9.4,13.9-9.4h1.9v-0.9\
          c0-1.2,0-3.2-2.9-3.2c-3.5,0-7.1,1-9.4,2.2l-2.6-6.1c3.8-1.3,8.5-1.7,12.5-1.7c5.8,0,9.8,2.5,9.8,8v10.1c0,2,0.7,4.9,1.2,7.7\
          h-7.1V617.2z M1685.7,606.6h-1.2c-4.9,0-6.8,1.3-6.8,3.8c0,1.7,2.2,1.9,3.8,1.9s3.3-1.7,4.2-2.8V606.6z")
        g
          path(fill="#007D5A", d="M1715.1,617.2V601c0-1.7,0-3.9-3-3.9c-2.2,0-3.8,2.6-4.9,4.9v15.1h-7.5v-19.4c0-2-0.4-3.6-0.7-5.4h7l1,3\
          c1.2-1,3.2-3.9,6.5-3.9c7.7,0,9.1,4.3,9.1,10v15.6h-7.4V617.2z")
        g
          path(fill="#007D5A", d="M1741.1,621.3c-1.6,4.3-4.5,8.4-10.4,10.3l-2.6-6.1c3-0.9,4.2-2,4.8-3.5l2.2-5.8l-9.4-23.9h8l5.1,15.5\
          l5.5-15.5h7.8L1741.1,621.3z")
        g
          path(fill="#007D5A", d="M1445.9,598.2c-0.9-0.9-1.9-1-3-1c-2.8,0-3.9,3.9-4.5,5.4v14.8h-7.5v-19.6c0-2.5-0.6-4.3-0.7-5.5h7\
          l1.2,3.5c0.9-1.4,2.9-4.2,5.5-4.2c2.2,0,3.8,0.3,4.8,0.7L1445.9,598.2z")
      g
        g
          path(fill="#007D5A", d="M1061,637.5l-1.3-3.6h-4.8l-1.3,3.6h-2l5.1-12.6h1.7l4.8,12.6H1061z M1057.3,627.2l-2,5.4h3.8\
          L1057.3,627.2z")
        g
          path(fill="#007D5A", d="M1075.1,637.5l-0.3-1c-0.4,0.6-1.2,1.2-2.2,1.2c-2.8,0-3.9-2.2-3.9-4.8c0-2.5,1.2-4.6,3.6-4.6\
          c1.2,0,1.9,0.7,2.3,1.4v-5.1h1.7v10.1c0,1.2,0.1,1.6,0.1,2.8H1075.1z M1074.9,631.6c-0.4-0.7-1-1.7-2.2-1.7s-2,0.9-2,3.3\
          c0,2.3,0.7,3.3,2.3,3.3c0.9,0,1.4-0.6,1.9-1.3V631.6z")
        g
          path(fill="#007D5A", d="M1078.8,624.9h1.9v1.7h-1.9V624.9z M1078.8,628.7h1.7v8.8h-1.7V628.7z")
        g
          polygon(fill="#007D5A", points="1087.3,637.5 1085.6,637.5 1082.2,628.7 1084.1,628.7 1086.4,635.5 1088.9,628.7 1090.6,628.7 \
          ")
        g
          path(fill="#007D5A", d="M1092.2,624.9h1.9v1.7h-1.9V624.9z M1092.4,628.7h1.7v8.8h-1.7V628.7z")
        g
          path(fill="#007D5A", d="M1099,637.8c-1,0-2.3-0.3-3.2-0.6l0.6-1.4c1,0.4,1.6,0.7,2.6,0.7c1.3,0,1.7-0.4,1.7-1.3\
          c0-0.7-0.9-1-2-1.4c-1.3-0.4-2.9-1-2.9-2.8c0-2,1.9-2.6,3.6-2.6c0.9,0,1.7,0.1,2.9,0.6l-0.6,1.4c-0.9-0.4-1.4-0.7-2.3-0.7\
          c-1,0-1.7,0.3-1.7,1.2c0,0.7,0.7,0.9,1.7,1.2c1.4,0.4,3.2,0.9,3.2,3C1102.5,637.1,1100.9,637.8,1099,637.8")
        g
          path(fill="#007D5A", d="M1104.4,624.9h1.9v1.7h-1.9V624.9z M1104.4,628.7h1.7v8.8h-1.7V628.7z")
        g
          path(fill="#007D5A", d="M1112.1,637.8c-3,0-4.2-2.2-4.2-4.8c0-2.5,1-4.6,4.2-4.6c3,0,4.2,2,4.2,4.6S1115.3,637.8,1112.1,637.8\
          M1112.1,629.8c-1.6,0-2.3,1.2-2.3,3.3c0,2,0.6,3.3,2.3,3.3s2.3-1.2,2.3-3.3C1114.5,630.8,1113.8,629.8,1112.1,629.8")
        g
          path(fill="#007D5A", d="M1123.5,637.5v-5.6c0-1.2-0.1-2.2-1.7-2.2c-1,0-1.7,1-2.2,1.7v5.9h-1.7v-7c0-0.7-0.1-1.2-0.1-1.9h1.6\
          l0.3,1.3c0.3-0.4,1.2-1.4,2.5-1.4c2.5,0,3.2,1.4,3.2,3.5v5.6C1125.3,637.5,1123.5,637.5,1123.5,637.5z")
        g
          path(fill="#007D5A", d="M1135.8,637.8c-3,0-4.2-2.2-4.2-4.8c0-2.5,1-4.6,4.2-4.6c3,0,4.2,2,4.2,4.6S1138.9,637.8,1135.8,637.8\
          M1135.8,629.8c-1.6,0-2.3,1.2-2.3,3.3c0,2,0.6,3.3,2.3,3.3c1.7,0,2.3-1.2,2.3-3.3C1138.2,630.8,1137.6,629.8,1135.8,629.8")
        g
          path(fill="#007D5A", d="M1143.8,627.9v0.7h2v1.3h-2v7.5h-1.7V630h-1.3v-1.3h1.3v-0.6c0-2.5,2.5-3.5,3.9-3.6l0.4,1.4\
          C1144.7,626,1143.8,626.8,1143.8,627.9")
        g
          path(fill="#007D5A", d="M1157.4,637.9c-4.1,0-5.5-2.8-5.5-6.7c0-3.5,1.3-6.5,5.6-6.5c1.2,0,2.2,0.1,3.2,0.4l-0.6,1.6\
          c-0.9-0.3-1.6-0.6-2.6-0.6c-2.8,0-3.6,2-3.6,5.1s0.9,5.2,3.5,5.2c1,0,1.7-0.3,2.8-0.7l0.6,1.6\
          C1159.7,637.6,1158.7,637.9,1157.4,637.9")
        g
          path(fill="#007D5A", d="M1166.1,637.8c-3,0-4.2-2.2-4.2-4.8c0-2.5,1-4.6,4.2-4.6c3,0,4.2,2,4.2,4.6S1169.3,637.8,1166.1,637.8\
          M1166.1,629.8c-1.6,0-2.3,1.2-2.3,3.3c0,2,0.6,3.3,2.3,3.3c1.7,0,2.3-1.2,2.3-3.3C1168.6,630.8,1167.8,629.8,1166.1,629.8")
        g
          path(fill="#007D5A", d="M1183.1,637.5v-5.6c0-1.3-0.3-2.2-1.6-2.2c-1.2,0-1.9,1-2.2,1.9v5.9h-1.7v-5.6c0-1.6-0.6-2.2-1.6-2.2\
          s-1.7,1-2,1.7v6.1h-1.7v-6.8c0-0.7-0.1-1.4-0.1-2h1.6l0.3,1.3c0.3-0.4,1.3-1.4,2.3-1.4c1.6,0,2.2,0.6,2.8,1.6\
          c0.6-0.9,1.4-1.6,2.8-1.6c2,0,3,1.2,3,3.5v5.6h-1.7V637.5z")
        g
          path(fill="#007D5A", d="M1198,637.5v-5.6c0-1.3-0.3-2.2-1.6-2.2c-1.2,0-1.9,1-2.2,1.9v5.9h-1.7v-5.6c0-1.6-0.6-2.2-1.6-2.2\
          s-1.7,1-2,1.7v6.1h-1.7v-6.8c0-0.7-0.1-1.4-0.3-2h1.6l0.3,1.3c0.3-0.4,1.3-1.4,2.3-1.4c1.6,0,2.2,0.6,2.8,1.6\
          c0.6-0.9,1.4-1.6,2.8-1.6c2,0,3,1.2,3,3.5v5.6h-1.6V637.5z")
        g
          path(fill="#007D5A", d="M1203.3,633.7c0.1,1.6,0.9,2.8,2.3,2.8c0.9,0,1.7-0.3,2.8-0.7l0.6,1.3c-1,0.4-2.3,0.7-3.5,0.7\
          c-2.8,0-4.1-2.2-4.1-4.6c0-2,0.9-4.8,3.9-4.8c3.2,0,4.1,2,4.1,5.4C1209.4,633.7,1203.3,633.7,1203.3,633.7z M1205.5,629.8\
          c-1,0-2,0.7-2.2,2.8h4.5C1207.7,630.5,1207,629.8,1205.5,629.8")
        g
          path(fill="#007D5A", d="M1216.1,630.3c-0.3-0.1-0.7-0.6-1.3-0.6c-1.2,0-1.4,1.6-1.7,2.2v5.6h-1.7v-7c0-0.9-0.1-1.6-0.1-2h1.6\
          l0.3,1.6c0.3-0.6,1.2-1.7,2-1.7c0.7,0,1.2,0.1,1.6,0.4L1216.1,630.3z")
        g
          path(fill="#007D5A", d="M1221.6,637.8c-2.8,0-4.2-1.9-4.2-4.6c0-2.9,1.3-4.8,4.2-4.8c0.9,0,2.3,0.3,2.9,0.6l-0.6,1.4\
          c-0.7-0.3-1.7-0.7-2.3-0.7c-1.7,0-2.5,1.2-2.5,3.3c0,2,0.7,3.3,2.3,3.3c0.6,0,1.6-0.3,2.5-0.7l0.6,1.4\
          C1223.9,637.5,1222.3,637.8,1221.6,637.8")
        g
          path(fill="#007D5A", d="M1227.7,633.7c0.1,1.6,0.9,2.8,2.3,2.8c0.9,0,1.7-0.3,2.8-0.7l0.6,1.3c-1,0.4-2.3,0.7-3.5,0.7\
          c-2.8,0-4.1-2.2-4.1-4.6c0-2,0.9-4.8,3.9-4.8c3.2,0,4.1,2,4.1,5.4C1233.8,633.7,1227.7,633.7,1227.7,633.7z M1229.8,629.8\
          c-1,0-2,0.7-2.2,2.8h4.5C1232,630.5,1231.1,629.8,1229.8,629.8")
        g
          path(fill="#007D5A", d="M1245.3,637.5h-4.6v-12.6h3.9c2.5,0,4.2,0.7,4.2,3.3c0,1.3-0.9,2.2-2,2.6c1.6,0.3,2.6,1.2,2.6,2.9\
          C1249.5,636.8,1247.5,637.5,1245.3,637.5 M1244.8,626.5h-2v3.9h2.3c1.2,0,2-0.6,2-2C1246.9,627.1,1246.4,626.5,1244.8,626.5\
          M1245.1,631.8h-2.3v4.2h2.5c1.3,0,2.3-0.4,2.3-2.2C1247.5,632.3,1246.4,631.8,1245.1,631.8")
        g
          path(fill="#007D5A", d="M1257.1,637.5c0-0.1-0.3-0.9-0.3-1c-0.4,0.6-1.3,1.2-2.5,1.2c-2,0-3.3-0.9-3.3-2.6c0-1.7,1-3.2,4.8-3.2\
          h0.9v-0.6c0-0.9-0.3-1.7-1.4-1.7c-1.2,0-2.3,0.4-3.2,0.7l-0.6-1.4c1.2-0.4,2.5-0.7,3.8-0.7c1.9,0,3.2,0.9,3.2,2.9v3.8\
          c0,0.7,0.1,1.7,0.3,2.8H1257.1z M1256.6,633.3h-0.6c-2.5,0-3.2,0.6-3.2,1.9c0,0.9,0.7,1.3,1.7,1.3c0.9,0,1.6-0.4,2-1V633.3z")
        g
          path(fill="#007D5A", d="M1266.3,637.5v-5.6c0-1.2-0.1-2.2-1.7-2.2c-1,0-1.7,1-2.2,1.7v5.9h-1.7v-7c0-0.7-0.1-1.2-0.1-1.9h1.6\
          l0.3,1.3c0.3-0.4,1.2-1.4,2.5-1.4c2.5,0,3.2,1.4,3.2,3.5v5.6C1268.1,637.5,1266.3,637.5,1266.3,637.5z")
        g
          polygon(fill="#007D5A", points="1275.8,637.5 1272,633 1272,637.5 1270.4,637.5 1270.4,624.7 1272,624.7 1272,632.3 \
          1275.5,628.7 1277.4,628.7 1273.7,632.4 1277.8,637.5 			")
      g
        path(fill="none", d="M1003.6,627.9C1003.6,627.9,1003.5,627.9,1003.6,627.9l0,0.2C1003.6,628,1003.6,628,1003.6,627.9z")
        path(fill="none", d="M960.6,606.9C960.6,606.9,960.6,607,960.6,606.9L960.6,606.9C960.6,606.9,960.6,606.9,960.6,606.9z")
        path(fill="none", d="M990.6,635.9C990.6,635.9,990.5,635.9,990.6,635.9L990.6,635.9C990.5,635.9,990.5,635.9,990.6,635.9z")
        path(fill="none", d="M974.8,606.1C974.8,606,974.8,606,974.8,606.1L974.8,606.1C974.7,606.1,974.7,606.1,974.8,606.1z")
        path(fill="none", d="M978.1,570.3C978.1,570.3,978.1,570.3,978.1,570.3L978.1,570.3C978.1,570.3,978.1,570.3,978.1,570.3z")
        path(fill="none", d="M1005,635C1005.1,635,1005.1,635,1005,635L1005,635C1005.1,635,1005.1,635,1005,635z")
        path(fill="none", d="M1017.4,629.7C1017.4,629.7,1017.4,629.6,1017.4,629.7L1017.4,629.7C1017.4,629.6,1017.4,629.7,1017.4,629.7z\
        ")
        path(fill="none", d="M1029.1,616.3C1029.1,616.4,1029.1,616.4,1029.1,616.3L1029.1,616.3C1029.1,616.4,1029.1,616.4,1029.1,616.3z\
        ")
        path(fill="none", d="M1019.4,622.7c0,0-0.1,0-0.1,0.1l0,0.1C1019.3,622.8,1019.4,622.8,1019.4,622.7z")
        radialgradient#SVGID_1_(cx="-909.5004", cy="425.7717", r="1", gradienttransform="matrix(-42.5686 25.7073 -25.7073 -42.5686 -26753.5684 42095.7344)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_1_)", d="M1020.1,573.6c-0.3,1.3-1.4,2.9-3.3,4.5c3.2,4.5,5.8,10.4,7.4,17.8c4.2-2.2,6.4-4.1,7.2-5.4\
        C1029.4,583.8,1025.3,577.8,1020.1,573.6z")
        radialgradient#SVGID_2_(cx="-909.4978", cy="425.7732", r="1", gradienttransform="matrix(-42.5714 25.7091 -25.7091 -42.5714 -26755.3457 42098.543)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_2_)", d="M1001.7,565.5c4.2,1.7,9.1,5.1,13.5,10.4c2.3-1.4,3.3-2.9,3-3.9\
        C1013.4,568.5,1007.8,566.4,1001.7,565.5z")
        radialgradient#SVGID_3_(cx="-909.5005", cy="425.7716", r="1", gradienttransform="matrix(-42.5683 25.7071 -25.7071 -42.5683 -26753.4316 42095.418)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_3_)", d="M1032.1,593.4C1032.1,593.4,1032.1,593.4,1032.1,593.4c-1.4,2.1-4.1,4.1-7.4,5.9\
        c1,6.8,0.6,12.6-0.7,17.4c3.6-2.2,6.1-4.2,7.1-5.6C1033,605.5,1033.4,599.5,1032.1,593.4C1032.1,593.4,1032.1,593.4,1032.1,593.4z\
        ")
        radialgradient#SVGID_4_(cx="-909.4986", cy="425.7727", r="1", gradienttransform="matrix(-42.5704 25.7086 -25.7086 -42.5704 -26754.6934 42097.5859)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_4_)", d="M996.8,565.2c-2.2,0-4.3,0.1-6.5,0.6c3.3,2,6.7,8.4,9.3,15.8c5.6-1.3,10-2.8,13-4.2\
        c-5.2-6.8-11.2-10.6-15.2-12.2C997.2,565.2,996.9,565.2,996.8,565.2z")
        radialgradient#SVGID_5_(cx="-909.5018", cy="425.7708", r="1", gradienttransform="matrix(-42.567 25.7064 -25.7064 -42.567 -26752.5254 42094.1484)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_5_)", d="M1004.5,599.3c0.1,1,0.4,2,0.6,3.2c7.1-1.7,12.5-3.5,16.5-5.2c-1.6-7.1-4.2-12.9-7.2-17.4\
        c-3.2,1.7-7.7,3.6-13.6,5.1C1002.3,589.8,1003.6,594.9,1004.5,599.3z")
        radialgradient#SVGID_6_(cx="-909.5019", cy="425.7708", r="1", gradienttransform="matrix(-42.5668 25.7063 -25.7063 -42.5668 -26752.5176 42094.0234)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_6_)", d="M1021.1,618.4c1.4-4.8,2.2-10.7,1.2-17.7c-5.6,2.6-12,4.5-16.5,5.6c0.9,5.6,1.4,11.9,1.3,17.2\
        C1012.6,622.1,1017.4,620.4,1021.1,618.4z")
        radialgradient#SVGID_7_(cx="-909.4993", cy="425.7723", r="1", gradienttransform="matrix(-42.5697 25.7081 -25.7081 -42.5697 -26754.1094 42096.8789)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_7_)", d="M981,568.7c-1.4,2.5-2.9,8-3.5,15.2c5.2,0.1,11.6-0.3,18.3-1.4c-3.2-9.8-6.4-15.4-7.8-16.1\
        C985.5,566.8,983.2,567.7,981,568.7z")
        radialgradient#SVGID_8_(cx="-909.4964", cy="425.774", r="1", gradienttransform="matrix(-42.573 25.7102 -25.7102 -42.573 -26756.2168 42100.1133)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_8_)", d="M1019.3,622.9L1019.3,622.9c-3.5,1.8-7.7,3.2-12.4,4.4c-0.3,3.3-0.9,6.1-1.9,7.8l0,0\
        c2.5-0.6,4.9-1.4,7.2-2.6C1014.7,630.1,1017.3,627,1019.3,622.9z")
        radialgradient#SVGID_9_(cx="-909.5018", cy="425.7708", r="1", gradienttransform="matrix(-42.5668 25.7064 -25.7064 -42.5668 -26752.457 42094.0312)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_9_)", d="M994.6,636.2c2.6,0.1,5.2-0.1,8-0.6c0.6-1,1-3.7,1-7.5l-0.1-0.1c-5,1-9.9,1.3-14.5,1.3\
        C991.1,632.6,993,634.9,994.6,636.2z")
        radialgradient#SVGID_10_(cx="-909.4996", cy="425.7722", r="1", gradienttransform="matrix(-42.5694 25.7078 -25.7078 -42.5694 -26754.1523 42096.5664)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_10_)", d="M1029.1,616.4L1029.1,616.4c-1.7,1.6-3.9,3.2-6.5,4.7c-1.4,3.3-3.2,6.2-5.2,8.5l0,0\
        C1022.3,626.2,1026.3,621.6,1029.1,616.4z")
        radialgradient#SVGID_11_(cx="-909.501", cy="425.7713", r="1", gradienttransform="matrix(-42.5678 25.7068 -25.7068 -42.5678 -26753.1699 42094.9766)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_11_)", d="M1003.5,624.3c-0.1-4.5-0.7-10.3-1.9-17.2c-3.2,0.6-12.3,1.9-21.4,2.2c1.9,6.5,4.3,12.3,6.8,16.8\
        C992,625.9,997.7,625.5,1003.5,624.3z")
        radialgradient#SVGID_12_(cx="-909.5018", cy="425.7708", r="1", gradienttransform="matrix(-42.5668 25.7064 -25.7064 -42.5668 -26752.4629 42094.0312)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_12_)", d="M966.2,581.3c0.3,1.2,3.2,2,7.7,2.5c0.7-5.6,2.3-10.4,4.2-13.4l0,0\
        C973.3,573.1,969.3,576.8,966.2,581.3z")
        radialgradient#SVGID_13_(cx="-909.5014", cy="425.771", r="1", gradienttransform="matrix(-42.5672 25.7067 -25.7067 -42.5672 -26752.7227 42094.4766)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_13_)", d="M984.5,629.1c-5.6-0.4-10.4-1.3-13.5-2.6c5.3,4.9,12.1,8.2,19.5,9.4l0,0\
        C988.5,634.3,986.5,632,984.5,629.1z")
        radialgradient#SVGID_14_(cx="-909.5002", cy="425.7718", r="1", gradienttransform="matrix(-42.5688 25.7074 -25.7074 -42.5688 -26753.7617 42095.9844)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_14_)", d="M974.7,606.1L974.7,606.1c0.1-0.3-0.1-0.6-0.1-0.9c-1.3-6.7-1.6-13-1.2-18.7\
        c-4.1-0.6-7.4-1.6-8.7-3c-3,5.4-4.8,11.3-4.8,17.7c0,1,0,2,0.1,3C961.4,605,966.9,605.9,974.7,606.1z")
        radialgradient#SVGID_15_(cx="-909.5004", cy="425.7716", r="1", gradienttransform="matrix(-42.5684 25.7073 -25.7073 -42.5684 -26753.5 42095.6172)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_15_)", d="M968.7,623.9c1.6,0.9,7,1.9,13.9,2c-2.8-4.6-5.2-10.3-7-16.7c-5.9,0-11.5-0.6-15-2.3l0,0\
        c0,0.3,0.1,0.7,0.1,1C962,614,964.8,619.5,968.7,623.9z")
        radialgradient#SVGID_16_(cx="-909.5", cy="425.7718", r="1", gradienttransform="matrix(-42.5688 25.7076 -25.7076 -42.5688 -26753.7051 42095.9922)", gradientunits="userSpaceOnUse")
          stop(offset="0", style="stop-color:#00946C")
            stop(offset="0.2209", style="stop-color:#00926A")
              stop(offset="0.4688", style="stop-color:#008B65")
                stop(offset="0.7297", style="stop-color:#007E5B")
                  stop(offset="0.9982", style="stop-color:#006E4E")
                    stop(offset="1", style="stop-color:#006D4E")
        path(fill="url(#SVGID_16_)", d="M979,604.2c0.1,0.6,0.3,1.2,0.4,1.7c6.4-0.3,13.8-1,21.7-2.6c-0.1-1-0.4-2-0.6-3.2\
        c-1.2-5.4-2.3-10.1-3.5-14.3c-6.4,1.2-13.6,1.6-19.7,1.2C977.2,592.2,977.7,598,979,604.2z")
  //img.ie8-logo(src="/wp-content/themes/k2Search_2014/img/k2search_logo.png", alt="")
