.cd-overlay
nav.cd-nav
  ul#cd-primary-nav.cd-primary-nav.is-fixed
    li.has-children
      a(href="http://codyhouse.co/?p=409") Clothing
      ul.cd-secondary-nav.is-hidden
        li.go-back
          a(href="#0") Menu
        li.see-all
          a(href="http://codyhouse.co/?p=409") All Clothing
        li.has-children
          a(href="http://codyhouse.co/?p=409") Accessories
          ul.is-hidden
            li.go-back
              a(href="#0") Clothing
            li.see-all
              a(href="http://codyhouse.co/?p=409") All Accessories
            li.has-children
              a(href="#0") Beanies
              ul.is-hidden
                li.go-back
                  a(href="#0") Accessories
                li.see-all
                  a(href="http://codyhouse.co/?p=409") All Benies
                li
                  a(href="http://codyhouse.co/?p=409") Caps &#38; Hats
                li
                  a(href="http://codyhouse.co/?p=409") Gifts
                li
                  a(href="http://codyhouse.co/?p=409") Scarves &#38; Snoods
            li.has-children
              a(href="#0") Caps &#38; Hats
              ul.is-hidden
                li.go-back
                  a(href="#0") Accessories
                li.see-all
                  a(href="http://codyhouse.co/?p=409") All Caps &#38; Hats
                li
                  a(href="http://codyhouse.co/?p=409") Beanies
                li
                  a(href="http://codyhouse.co/?p=409") Caps
                li
                  a(href="http://codyhouse.co/?p=409") Hats
            li
              a(href="http://codyhouse.co/?p=409") Glasses
            li
              a(href="http://codyhouse.co/?p=409") Gloves
            li
              a(href="http://codyhouse.co/?p=409") Jewellery
            li
              a(href="http://codyhouse.co/?p=409") Scarves
            li
              a(href="http://codyhouse.co/?p=409") Wallets
            li
              a(href="http://codyhouse.co/?p=409") Watches
        li.has-children
          a(href="http://codyhouse.co/?p=409") Bottoms
          ul.is-hidden
            li.go-back
              a(href="#0") Clothing
            li.see-all
              a(href="http://codyhouse.co/?p=409") All Bottoms
            li
              a(href="http://codyhouse.co/?p=409") Casual Trousers
            li.has-children
              a(href="#0") Jeans
              ul.is-hidden
                li.go-back
                  a(href="#0") Bottoms
                li.see-all
                  a(href="http://codyhouse.co/?p=409") All Jeans
                li
                  a(href="http://codyhouse.co/?p=409") Ripped
                li
                  a(href="http://codyhouse.co/?p=409") Skinny
                li
                  a(href="http://codyhouse.co/?p=409") Slim
                li
                  a(href="http://codyhouse.co/?p=409") Straight
            li
              a(href="#0") Leggings
            li
              a(href="#0") Shorts
        li.has-children
          a(href="http://codyhouse.co/?p=409") Jackets
          ul.is-hidden
            li.go-back
              a(href="#0") Clothing
            li.see-all
              a(href="http://codyhouse.co/?p=409") All Jackets
            li
              a(href="http://codyhouse.co/?p=409") Blazers
            li
              a(href="http://codyhouse.co/?p=409") Bomber jackets
            li
              a(href="http://codyhouse.co/?p=409") Denim Jackets
            li
              a(href="http://codyhouse.co/?p=409") Duffle Coats
            li
              a(href="http://codyhouse.co/?p=409") Leather Jackets
            li
              a(href="http://codyhouse.co/?p=409") Parkas
        li.has-children
          a(href="http://codyhouse.co/?p=409") Tops
          ul.is-hidden
            li.go-back
              a(href="#0") Clothing
            li.see-all
              a(href="http://codyhouse.co/?p=409") All Tops
            li
              a(href="http://codyhouse.co/?p=409") Cardigans
            li
              a(href="http://codyhouse.co/?p=409") Coats
            li
              a(href="http://codyhouse.co/?p=409") Hoodies &#38; Sweatshirts
            li
              a(href="http://codyhouse.co/?p=409") Jumpers
            li
              a(href="http://codyhouse.co/?p=409") Polo Shirts
            li
              a(href="http://codyhouse.co/?p=409") Shirts
            li.has-children
              a(href="#0") T-Shirts
              ul.is-hidden
                li.go-back
                  a(href="#0") Tops
                li.see-all
                  a(href="http://codyhouse.co/?p=409") All T-shirts
                li
                  a(href="http://codyhouse.co/?p=409") Plain
                li
                  a(href="http://codyhouse.co/?p=409") Print
                li
                  a(href="http://codyhouse.co/?p=409") Striped
                li
                  a(href="http://codyhouse.co/?p=409") Long sleeved
            li
              a(href="http://codyhouse.co/?p=409") Vests
    li.has-children
      a(href="http://codyhouse.co/?p=409") Gallery
      ul.cd-nav-gallery.is-hidden
        li.go-back
          a(href="#0") Menu
        li.see-all
          a(href="http://codyhouse.co/?p=409") Browse Gallery
        li
          a.cd-nav-item(href="http://codyhouse.co/?p=409")
            img(src="/images/img.jpg", alt="Product Image")
            h3 Product #1
        li
          a.cd-nav-item(href="http://codyhouse.co/?p=409")
            img(src="/images/img.jpg", alt="Product Image")
            h3 Product #2
        li
          a.cd-nav-item(href="http://codyhouse.co/?p=409")
            img(src="/images/img.jpg", alt="Product Image")
            h3 Product #3
        li
          a.cd-nav-item(href="http://codyhouse.co/?p=409")
            img(src="/images/img.jpg", alt="Product Image")
            h3 Product #4
    li.has-children
      a(href="http://codyhouse.co/?p=409") Services
      ul.cd-nav-icons.is-hidden
        li.go-back
          a(href="#0") Menu
        li.see-all
          a(href="http://codyhouse.co/?p=409") Browse Services
        li
          a.cd-nav-item.item-1(href="http://codyhouse.co/?p=409")
            h3 Service #1
            p This is the item description
        li
          a.cd-nav-item.item-2(href="http://codyhouse.co/?p=409")
            h3 Service #2
            p This is the item description
        li
          a.cd-nav-item.item-3(href="http://codyhouse.co/?p=409")
            h3 Service #3
            p This is the item description
        li
          a.cd-nav-item.item-4(href="http://codyhouse.co/?p=409")
            h3 Service #4
            p This is the item description
        li
          a.cd-nav-item.item-5(href="http://codyhouse.co/?p=409")
            h3 Service #5
            p This is the item description
        li
          a.cd-nav-item.item-6(href="http://codyhouse.co/?p=409")
            h3 Service #6
            p This is the item description
        li
          a.cd-nav-item.item-7(href="http://codyhouse.co/?p=409")
            h3 Service #7
            p This is the item description
        li
          a.cd-nav-item.item-8(href="http://codyhouse.co/?p=409")
            h3 Service #8
            p This is the item description
    li
      a(href="http://codyhouse.co/?p=409") Standard

#cd-search.cd-search
  form
    input(type="search", placeholder="Search...")
