//- script(src="/js/jquery.mobile.custom.min.js")

script(src="/global.js")
script(src="/page.js")

//- Google Custom Search  
//- script(type='text/javascript').
//-   (function() {
//-     var cx = '017562418955689951719:k5l1r0eg1mi';
//-     var gcse = document.createElement('script');
//-     gcse.type = 'text/javascript';
//-     gcse.async = true;
//-     gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
//-     '//cse.google.com/cse.js?cx=' + cx;
//-     var s = document.getElementsByTagName('script')[0];
//-     s.parentNode.insertBefore(gcse, s);
//-     })();
  
script(type='text/javascript').
  (function (d, t) {
    var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
    bh.type = 'text/javascript';
    bh.src = '//www.bugherd.com/sidebarv2.js?apikey=lw9lswvqdcq3larz0gn0jq';
    s.parentNode.insertBefore(bh, s);
    })(document, 'script');
