//- This is populated with "Frontmatter"
//- Frontmatter allows page-specific variables to be included at the top
//- of a template using the YAML or JSON format.
//-
//- Example of Frontmatter below
//-
//- sidebar:
//-   image: "meeting-2.jpg"
//-   title: Connect with Commerce Trust
//-   text: Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits
//-   button_text: Learn more
//-   button_url: http://google.com

.cta-sidebar.col-5-12
  .cta-sidebar__media
    img(src="../images/#{sidebar.image}")
  .cta-sidebar__heading= sidebar.title
  .cta-sidebar__text= sidebar.text
  a.cta-sidebar__button(href="#{sidebar.button_url}")= sidebar.button_text
