.cta-social
  a(href="")
    icon(name="ei-sc-facebook", size="m")
  a(href="")
    icon(name="ei-sc-twitter", size="m")
  a(href="")
    icon(name="ei-sc-linkedin", size="m")
  a(href="")
    icon(name="ei-envelope", size="m")
