.card-triptic
  .card-triptic__box.col-6-12
    h2.card-triptic__title Individuals
    .card-triptic__media
      img(src="")
    p.card-triptic__text Collaboratively administrate empowered markets via plug-and-play networks. Quickly maximize timely deliverables for real-time schemas. 

        
  .card-triptic__box.col-6-12
    h2.card-triptic__title Institutions
    .card-triptic__media
      img(src="")
    p.card-triptic__text Collaboratively administrate empowered markets via plug-and-play networks. Quickly maximize timely deliverables for real-time schemas.  
          
          
  .card-triptic__box.col-6-12
    h2.card-triptic__title Institutions
    .card-triptic__media
      img(src="")
    p.card-triptic__text Collaboratively administrate empowered markets via plug-and-play networks. Quickly maximize timely deliverables for real-time schemas.
