.card-triptic
  .card-triptic__box.col-4-12
    .card-triptic__media
      img(src="../images/meeting.jpg")
    h2
      a.card-triptic__heading-link(href="#") Article to be featured
    p.card-triptic__text Collaboratively administrate empowered markets via plug-and-play networks. Quickly maximize timely deliverables for real-time schemas. 
    
  .card-triptic__box.col-4-12
    .card-triptic__media
      img(src="../images/meeting.jpg")
    h2
      a.card-triptic__heading-link(href="#") The secret to investing that no one wants you to know
    p.card-triptic__text Collaboratively administrate empowered markets via plug-and-play networks. Quickly maximize timely deliverables for real-time schemas. 
    
  .card-triptic__box.col-4-12
    .card-triptic__media
      img(src="../images/meeting.jpg")
    h2
      a.card-triptic__heading-link(href="#") How to make 1.5M the easy way
    p.card-triptic__text Collaboratively administrate empowered markets via plug-and-play networks. Quickly maximize timely deliverables for real-time schemas.
