//- This container hold the main content on each page
//- It is found on all internal pages

//- All "Main" classes have share these rules
%main
  display: table
  padding: 1rem 2rem

.main-standard
  @extend %main
  padding-bottom: 5rem

  &__content

    +media("<=tablet")
      text-align: left

  &__text

    * + *
      margin-top: 1rem

    h2
      +standard-heading()
      +vert-padding(1,0)


// Main content block on Leadership page
.main-bios
  display: table
  padding: 2rem


// Main content block on News page
.main-news
  @extend %main


// Main content block on Blog Post page
.main-post
  @extend %main

  &__text

    +media("<=tablet")
      text-align: left

    * + *
      margin-top: 1rem

    h2
      +standard-heading()

    h3
      +minor-heading()

    figcaption
      color: $graphite
      font-size: .75rem
      margin-top: 0

    blockquote
      +blockquote()
