//- This container hold the main content on each page
//- It is found on all internal pages

//- All "Main" classes have share these rules
%main
  display: table
  padding: 1rem 2rem

.main-standard
  @extend %main
  padding-bottom: 5rem

  &__content

    +media("<=tablet")
      text-align: left

    &.col-7-12
      padding-top: 1.5rem
      vertical-align: top

  &__text

    * + *
      margin-top: 1rem

    h2
      +standard-heading()
      +vert-padding(1,0)

    // Default unordered lists in content areas
    ul
      padding-left: 2rem
      list-style: disc

      li
        margin-top: 0.5rem

    // Default ordered lists in content areas
    ol
      padding-left: 2rem
      //list-style-type: upper-roman

    // Keep small images from getting giant
    img
      width: 100%


// Main content block on Leadership page
.main-bios
  display: table
  padding: 2rem


// Main content block on News page
.main-news
  @extend %main

//Main content locations table
.city-column
  width:135px
.address-column
  width:335px
.phone-column

.location-phone
  color:$nightgreen
  &:hover
    color:$green


// Main content block on Blog Post page
.main-post
  @extend %main

  &__text

    +media("<=tablet")
      text-align: left

    * + *
      margin-top: 1rem

    h2
      +standard-heading()

    h3
      +minor-heading()

    figcaption
      color: $graphite
      font-size: .75rem
      margin-top: 0

    blockquote
      +blockquote()


.breadcrumb
  padding-bottom: 1.5rem
  font-size:14px

  a
    color:$green
    &:hover
      color:$nightgreen
  span
    color:$stone
