//
//CTAs - Call to Action modules
//

//Contact CTA
//This is found on the homepage only right now
.cta-contact
  background-color:  #eceee6
  display: table
  // display: flex
  // align-items: center
  // justify-content: center


  &__box
    padding: 2rem

  &__box:nth-child(2)
    padding: 2rem 0


    //+responsive-stack

  &__text
    margin: 0
    padding: 0 3.5rem 0 2rem

    +media("<=tablet")
      padding: 0

  &__button
    display: inline-block
    margin: 0 2rem 0 0

    +media("<=tablet")
      margin: 0


//Video teaser CTA
//This is found on the homepage only right now
.cta-teaser
  // display: flex
  // flex-flow: row wrap
  // justify-content: space-around
  // align-items: stretch
  display: table
  padding: 1rem 2rem

  +media("<=tablet")
    flex-flow: column

  &__box
    padding-right: 2rem

    +media("<=tablet")
      padding: 0

  &__heading

  &__text
    margin-bottom: 2rem


  &__media
    height: 300px
    overflow: hidden

    +media("<=tablet")
      height: 150px
      margin-top: 2rem


//Centered CTA
//This is found on the homepage only right now
.cta-center
  padding: 2rem
  text-align: center

  &__heading

  &__text
    padding: 0 8rem
    margin-bottom: 2rem

    +media("<=tablet")
      padding: 0

  &__button



//Subscribe CTA - This is found at the top of the footer
.cta-subscribe
  background-color: $green
  color: $white
  +vert-padding(1,1.5)

  &__heading
    color: $white
    text-align: center

  &__box
    display: table
    margin: 0 auto
    width: 75%

  // TODO use col class instead for width
  &__input-add-on


  &__input
    padding: .9rem
    width: 100%

  &__button
    border: 1px solid $white
    color: $white
    font-size: 1.5rem
    margin-left: 1rem
    width: 100%

    +media("<=tablet")
      margin: 1rem 0 0 0

  &__message
    display: none
    padding-top: 2.5rem

  &__error
    display: none
    padding-top: 1rem

    &-msg
      text-align: center


//Sidebar CTA - This is found on internal pages only
.cta-sidebar
  padding: 1rem 0 0 5rem
  vertical-align: top

  +media("<=tablet")
    padding: 3rem 2rem

  &__media
    //height: 180px
    //overflow: hidden

    +media("<=tablet")


    img

  &__heading
    font-size: 1.25rem
    +vert-margin(.5,.5)

  &__text

  &__button
    margin-top: 1rem


//Social CTA - These are currently found at the bottom of the blog posts
.cta-social
  padding-left: 1rem

  .icon
    fill: $green

    &:hover
      fill: $graphite
