//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Contact Us
description: Collaboratively administrate empowered markets via plug-and-play networks.

sidebar:
  image: meeting.jpg
  title: Our Locations
  text: Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
  button_text: Find a Location
  button_url: /locations.html
---
//- This will add the content of this page inside the 'global.jade' file
extends ../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Iindent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Indent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text
    .banner-standard__media-approach.col-7-12
      img(src="../images/contact_us.jpg", alt="Woman texting making phone call on mobile phone")

  .main-standard
    .main-standard__content.col-7-12
      .main-standard__text
        ol
          li General Inquiries
          ul
            li General Inquiries (1-800-892-7100 x17329)
            li Institutional-specific Inquiries (1-800-892-7100 x17329)
            li Brokerage-specific Inquiries (1-800-772-7283)
          li
            a(href="/locations.html") Locations
          li
            a(href="http://commercebank.com/about/careers/", target="_blank") Careers
          li Media Contact
            ul
              li
                | Chris Schildz, Marketing Manager, <a href="mailto:christopher.schildz@commercebank.com">Email</a>
          li The Commerce Trust Company Customer Support
            ul
              li
                | M–F 7:30 a.m.–10:00 p.m. CT; SAT 7:30 a.m.–4:00 p.m. CT; 877-605-7490; <a href="mailto:ctc.techsupport@commercebank.com">Email</a>
          li Separate Account Management Inquiries

        p
          strong To send an email that contains confidential information, please visit the <a href="http://www.commercebank.com/about/security-center/secure-message-center.asp" target="_blank">Secure Message Center</a>, where there are additional instructions about whether to use Secure Email or Online Banking messaging.

        form.form-standard
          label I want to get in contact with...
          .selectbox
            select#select1(name='select1' required)
              option Select Recipient
              option Personal Wealth Management Team
              option Institutional Asset Management Team
          label Name
          input(type='name' placeholder='Name' required)
          label Email
          input(type='email' placeholder='Email' required)
          label Phone
          input(type='phone' placeholder='Phone')
          label Message
          textarea(rows='8' placeholder='Comments')
          input(type='checkbox' class='form-standard__checkbox')
          label Yes, Sign Me Up for Newsletter
          input(class='contact-us__button' type='submit' value='Submit')

    include ../inc/sidebar.jade
