//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Contact Us
description: Collaboratively administrate empowered markets via plug-and-play networks.

---
//- This will add the content of this page inside the 'global.jade' file
extends ../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Iindent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Indent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text
    .banner-standard__media-approach.col-7-12
      img(src="../images/contact_us.jpg", alt="Woman texting making phone call on mobile phone")

  .main-standard
    .main-standard__content.col-7-12
      .main-standard__text
        h2 General Inquiries
        p
          strong General Inquiries (1-800-892-7100 x17329)
        p
          strong Institutional-specific Inquiries (1-800-892-7100 x17329)
        p
          strong Brokerage-specific Inquiries (1-800-772-7283)

        h2 The Commerce Trust Company Customer Support
        ul
          li M–F 7:30 a.m.–10:00 p.m. CT
          li SAT 7:30 a.m.–4:00 p.m. CT
          li 877-605-7490; <a href="mailto:ctc.techsupport@commercebank.com">Email</a>

        form.form-standard
          label I want to get in contact with...
          .selectbox
            select#select1(name='select1' required)
              option Select Recipient
              option Personal Wealth Management Team
              option Institutional Asset Management Team
          label Name
          input(type='name' placeholder='Name' required)
          label Email
          input(type='email' placeholder='Email' required)
          label Phone
          input(type='phone' placeholder='Phone')
          label Message
          textarea(rows='8' placeholder='Comments')
          input(type='checkbox' class='form-standard__checkbox')
          label Yes, Sign Me Up for Newsletter
          input(class='contact-us__button' type='submit' value='Submit')

        p
          strong To send an email that contains confidential information, please visit the <a href="http://www.commercebank.com/about/security-center/secure-message-center.asp" target="_blank">Secure Message Center</a>, where there are additional instructions about whether to use Secure Email or Online Banking messaging.

    .cta-sidebar.col-5-12
      .cta-sidebar__heading Our Locations
      .cta-sidebar__text Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
      a.cta-sidebar__button(href="/locations.html") Find a Location

      .cta-sidebar__heading Careers
      .cta-sidebar__text Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
      a.cta-sidebar__button(href="http://commercebank.com/about/careers/", target="_blank") Search Careers

      .cta-sidebar__heading Media Contact
      .cta-sidebar__text Chris Schildz, Marketing Manager, <a href="mailto:christopher.schildz@commercebank.com">Email</a>




