//- HOMEPAGE
//-
//- This is a 'Frontmatter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Commerce Trust
description: Commerce Trust


individuals:
  - page: Investment Management
    url: /personal-wealth-management/personal-investment-management.html
  - page: Private Banking
    url: /personal-wealth-management/private-banking.html
  - page: Wealth Planning
    url: /personal-wealth-management/financial-planning.html
  - page: Trust and Estate Services
    url: /personal-wealth-management/trust-and-estate-services.html
  - page: Commerce Family Office
    url: 'http://www.commercebank.com/wealth-management/trust/commerce-family-office/'

institutions:
  - page: Investment Management
    url: /institutional-asset-management/institutional-investment-management.html
  - page: Retirement Planning
    url: /institutional-asset-management/retirement-plan-services.html
  - page: Trust and Custody Services
    url: /institutional-asset-management/trust-and-custody-services.html
  - page: Corporate Trust
    url: /institutional-asset-management/corporate-trust.html
  - page: Non-Profit Services
    url: /institutional-asset-management/non-profit-services.html
---
//- This will add the content of this page inside the 'global.jade' file
extends ../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Indent(nest) your code after a 'block' placeholder to make it show
  //-
  //- Title and description are variable created above in the frontmatter
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Iindent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-tall
    h1.banner-tall__headline Your Vision.
      br
      | Our Guidance.
      br
      | Your Success.


  .cta-contact
    .cta-contact__box.col-9-12
      p.cta-contact__text At The Commerce Trust Company, our goal is to help clients define and achieve their long-term financial goals.
    .cta-contact__box.col-3-12
      a.cta-contact__button(href="/contact-us.html") Contact Us


  .cta-teaser
    .cta-teaser__box.col-7-12
      h2.cta-teaser__heading A Dedicated Approach
      p.cta-teaser__text You have a vision for where you want to go and what you want to achieve. And, our mission is to provide you with the wealth management strategies and guidance to help you realize that vision. Please watch this video of Commerce Trust President and CEO Ray Stranghoener to learn more about our approach.
      a.cta-teaser__button(href="/our-approach/") Learn More
    .cta-teaser__media.col-5-12
      img(src="../images/meeting.jpg", alt="Meeting")


  .card-diptic
    .card-diptic__box.col-6-12
      h2.card-diptic__heading Individuals
      .card-diptic__media
        img(src="../images/index_individuals.jpg", alt="Affluent multi-generational family eating outside")
      p.card-diptic__text At The Commerce Trust Company, our goal is to help clients define and achieve their long-term financial goals.
      ul
        each val in individuals
          li
            a.card-diptic__link(href="#{val.url}")= val.page


    .card-diptic__box.col-6-12
      h2.card-diptic__heading Institutions
      .card-diptic__media
        img(src="../images/index_institutions.jpg", alt="University campus non-profit institution")
      p.card-diptic__text Experience an approach to institutional asset management and investing that blends consulting services with customized solutions.
      ul
        each val in institutions
          li
            a.card-diptic__link(href="#{val.url}")= val.page


  .cta-center
    h2.cta-center__heading About The Commerce Trust Company
    p.cta-center__text For over 100 years, The Commerce Trust Company, a division of Commerce Bank, has helped individual investors, their families, and institutions reach their financial goals by listening to their needs, offering solutions, and providing objective guidance along the way. Learn more about how we can help you.
    a.cta-center__button(href="#") Learn more
