//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Locations
description: Collaboratively administrate empowered markets via plug-and-play networks.

sidebar:
  image: meeting-2.jpg
  title: Get in touch with us!
  text: Contact us to learn more about how our approach might fit with your financial situation.
  button_text: Learn more
  button_url: /contact-us.html
---
//- This will add the content of this page inside the 'global.jade' file
extends ../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Iindent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Indent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text
    .banner-standard__media-approach.col-7-12
      img(src="../images/locations_placeholder.jpg", alt="The Commerce Trust Company Locations")

  .main-standard
    .main-standard__content.col-7-12
      .main-standard__text
        h2 St. Louis Metropolitan Offices
        table
          thead
            tr
              th(class="city-column") City
              th(class="address-column") Address
              th(class="phone-column") Phone
          tbody
            tr
              td Clayton
              td 8000 Forsyth Boulevard, <br />Clayton, MO 63105-0156
              td 
                a(class="location-phone" href="tel:3147467329") 314-746-7329
            tr
              td Frontenac
              td
                | 10429 Clayton Road
                br
                | Frontenac, MO 63131-2909
              td 
                a(class="location-phone" href="tel:3147467389") 314-746-7389
            tr
              td O’Fallon
              td
                | Deer Creek Crossing,
                br
                | 2913 Highway K
                br
                | Town and Country, MO 63017-0606
              td 
                a(class="location-phone" href="tel:3147465070") 314-746-5070
            tr
              td Town & Country
              td
                | 1090 S. Woodsmill Plaza, Suite 200,
                br
                | Town and Country, MO 63017-0606
              td 
                a(class="location-phone" href="tel:3147465070") 314-746-5070
        h2 Missouri Offices
        table
          thead
            tr
              th(class="city-column") City
              th(class="address-column") Address
              th(class="phone-column") Phone
          tbody
            tr
              td Columbia
              td
                | 901 E. Broadway
                br
                | Columbia, MO 65201
              td 
                a(class="location-phone" href="tel:5738865200") 573-886-5200
            tr
              td Joplin
              td
                | 211 S. Main Street
                br
                | Joplin, MO 64801
              td 
                a(class="location-phone" href="tel:4176264000") 417-626-4000
            tr
              td Springfield
              td
                | 1345 E. Battlefield
                br
                | Springfield, MO 65801-2817
              td 
                a(class="location-phone" href="tel:4178695411") 417-869-5411
            tr
              td St. Joseph
              td
                | 328 Felix
                br
                | St. Joseph, MO 64501
              td 
                a(class="location-phone" href="tel:8162365700") 816-236-5700



        h2 Illinois Offices
        table
          thead
            tr
              th(class="city-column") City
              th(class="address-column") Address
              th(class="phone-column") Phone
          tbody
            tr
              td Belleville
              td
                | 2020 North Belt East
                br
                | Belleville, IL 62221
              td 
                a(class="location-phone" href="tel:6182226803") 618-222-6803
            tr
              td Bloomington
              td
                | 1339 East Empire St.
                br
                | Bloomington, IL 61701
              td 
                a(class="location-phone" href="tel:3098237000") 309-823-7000
            tr
              td Peoria
              td
                | 416 Main Street
                br
                | Peoria, IL 61602
              td 
                a(class="location-phone" href="tel:3099993334") 309-999-3334


        h2 Kansas City Metropolitan Offices
        table
          thead
            tr
              th(class="city-column") City
              th(class="address-column") Address
              th(class="phone-column") Phone
          tbody
            tr
              td Downtown
              td
                | 922 Walnut
                br
                | Kansas City, MO 64106
              td 
                a(class="location-phone" href="tel:8162342552") 816-234-2552
            tr
              td Country Club Plaza
              td
                |118 West 47th Street
                br
                | Kansas City, MO 64112
              td 
                a(class="location-phone" href="tel:8162342900") 816-234-2900
            tr
              td Leawood
              td
                | 11405 Nall Avenue, Suite 200
                br
                | Leawood, KS 66211
              td 
                a(class="location-phone" href="tel:8162341916") 816-234-1916


        h2 Kansas Offices
        table
          thead
            tr
              th(class="city-column") City
              th(class="address-column") Address
              th(class="phone-column") Phone
          tbody
            tr
              td Garden City
              td
                | 215 North Main,
                br
                | Garden City, KS 67846
              td 
                a(class="location-phone" href="tel:6202765600") 620-276-5600
            tr
              td Hutchinson
              td
                | 101 E. 30th,
                br
                | Hutchinson, KS 67502
              td 
                a(class="location-phone" href="tel:6206693000") 620-669-3000
            tr
              td Lawrence
              td
                | 1500 Wakarusa Drive
                br
                | Lawrence, KS 66047
              td 
                a(class="location-phone" href="tel:7858654748") 785-865-4748
            tr
              td Manhattan
              td
                | 727 Poyntz Avenue
                br
                | Manhattan, KS 66502
              td 
                a(class="location-phone" href="tel:7855371234") 785-537-1234
            tr
              td Pittsburg
              td
                | 100 S. Broadway
                br
                | Pittsburg, KS 66762-0326
              td 
                a(class="location-phone" href="tel:6202318400") 620-231-8400
            tr
              td Wichita
              td
                | 1551 North Waterfront Parkway
                br
                | Wichita, KS 67201
              td 
                a(class="location-phone" href="tel:3162614700") 316-261-4700

        h2 Oklahoma and Colorado Offices
        table
          thead
            tr
              th(class="city-column") City
              th(class="address-column") Address
              th(class="phone-column") Phone
          tbody
            tr
              td Tulsa
              td
                | 6130 E. 81st Street
                br
                | Tulsa, OK 74137
              td 
                a(class="location-phone" href="tel:9188792223") 918-879-2223 
            tr
              td Denver
              td
                | 216 16th Street, Suite 1400
                br
                | Denver, CO 80202
              td 
                a(class="location-phone" href="tel:3032145489") 303-214-5489 




    include ../inc/sidebar.jade
