//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: About Us
description: Comprehensive wealth management services and a trust relationship with advisors

breadcrumb:
  rootname: Our Approach
  rooturl: /our-approach/
  currentpage: About Us

sidebar:
  image: meeting-2.jpg
  title: Connect with Commerce Trust
  text: Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
  button_text: Learn more
  button_url: http://google.com
---
//- This will add the content of this page inside the 'global.jade' file
extends ../../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Iindent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Iindent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text Comprehensive wealth management services and a trusted relationship with advisors
    .banner-standard__media-approach.col-7-12
      img(src="../images/about_us.jpg", alt="Architectural column strength and stability")
  
  .main-standard
    .main-standard__content.col-7-12
      include ../../inc/breadcrumb.jade
        
      .main-standard__text
        p The Commerce Trust Company is a division of Commerce Bank, providing specialized wealth management products and services to individuals, families, and institutional clients in wealth planning, investment management, private banking, and trust services. With over 100 years of wealth management experience, world-class capabilities, and unparalleled service, The Commerce Trust Company has earned a reputation as one of the premier investment companies in the United States.
        p Commerce Trust offers the products and services of a large national organization and possesses world-class resources located in-house, while still maintaining a service model of a boutique investment advisor. Commerce Trust is ideal for for individuals, families, and institutions looking for comprehensive wealth management services, as well as a strong relationship with their trusted financial advisors.


    include ../../inc/sidebar.jade
