//-
//- This is a 'Front Matter block'
//- It uses YAML to create JSON objects that provide local variables to the page
//-
---
title: Our Approach
description: Collaboratively administrate empowered markets via plug-and-play networks.

sidebar:
  image: meeting-2.jpg
  title: Connect with Commerce Trust
  text: Contact us to learn more about how our approach might fit with your financial situation.
  button_text: Learn more
  button_url: /contact-us.html
---
//- This will add the content of this page inside the 'global.jade' file
extends ../../layout/global
//-
//- This will overwrite the 'block seo' placeholder in the 'global.jade' file
//- with the content below
block seo
  //- Iindent(nest) your code after a 'block' placeholder to make it show
  title= title
  meta(name="description" content="#{description}")
//-
//- This will overwrite the 'block content' placeholder in the 'global.jade' file
//- with the content below
block content
  //-
  //- Iindent(nest) your code after a 'block' placeholder to make it show
  //-
  .banner-standard
    .banner-standard__box.col-5-12
      h1.banner-standard__heading= title
      p.banner-standard__text Your Vision. Our Guidance. Your Success. &trade;
    .banner-standard__media-approach.col-7-12
      img(src="../images/our_approach.jpg", alt="Coordinated rowing team in boat on lake")

  .main-standard
    .main-standard__content.col-7-12
      .main-standard__text
        p At The Commerce Trust Company, we focus on your vision and offer you guidance. Then, we work together to achieve your success.
        h2 What we do
        p We take the time to get to know our clients. We listen to their needs, help them determine what their personal or institutional and financial goals are, and then provide them with resources and advice to make the best decisions possible. Our approach to wealth management is comprehensive and, most importantly, tailored to each client we serve.
        p Simply stated, our focus is: Your Vision. Our Guidance. Your Success.&trade;


    include ../../inc/sidebar.jade
