
@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

.header__logo-box
  background-color: $white
  border-left: 1px solid $borderColor
  border-right: 1px solid $borderColor
  margin: 0 auto
  padding-top: 1rem
  max-width: 1200px

// For IE9
.no-cssanimations .header__logo-box
  padding-top: 0

.header__logo
  background: $white


.logo
  display: block
  padding: 1rem 0 1rem 2rem
  width: 600px

  +media("<900px")
    width: 400px

  +media("<500px")
    padding: 1rem
    width: 300px

// For IE9
.no-cssanimations .logo
  height: 68px
  padding: 0 1rem


svg

  path, polygon
    fill: $green

  &:hover path,
  &:hover polygon
    transition: fill 0.2s ease
    fill-opacity: 0.7

.logo__stretched
  display: block

  +media("<900px")
    display: none

.logo__stacked
  display: none

  +media("<900px")
    display: block


// 25 pieces
.logo__globe
  path
    opacity: 0
    animation: fadeIn ease-in 1
    animation-fill-mode: forwards
    animation-duration: .5s

  path:nth-child(1)
    animation-delay: 0.1s

  path:nth-child(2)
    animation-delay: 0.11s

  path:nth-child(3)
    animation-delay: 0.22s

  path:nth-child(4)
    animation-delay: 0.13s

  path:nth-child(5)
    animation-delay: 0.14s

  path:nth-child(6)
    animation-delay: 0.15s

  path:nth-child(7)
    animation-delay: 0.16s

  path:nth-child(8)
    animation-delay: 0.37s

  path:nth-child(9)
    animation-delay: 0.18s

  path:nth-child(10)
    animation-delay: 0.19s

  path:nth-child(11)
    animation-delay: 0.20s

  path:nth-child(12)
    animation-delay: 0.21s

  path:nth-child(13)
    animation-delay: 0.12s

  path:nth-child(14)
    animation-delay: 0.23s

  path:nth-child(15)
    animation-delay: 0.34s

  path:nth-child(16)
    animation-delay: 0.25s


.no-cssanimations .logo__globe
  path
    fill: $green
    opacity: 1

// Other classes for animaiton maybe
// .logo__text
//
// .logo__commerce
//   path, polygon
//
//
// .logo__trust
//   path, polygon
//
//
// .logo__tagline
//   path, polygon
