.nav-minor
  display: block
  text-align: right

  &__container
    background-color: $white
    border-left: 1px solid $borderColor
    border-right: 1px solid $borderColor
    margin: 0 auto
    padding: 1rem 1.5rem
    max-width: 1200px

    +media("<=tablet")
      //display: none
      text-align: center

  li
    display: inline-block

    &:after
      display: inline-block
      content: ' | '
      color: $green
      margin: 0 2px 0 .3rem

    &:nth-child(3)

      &:after
        content: ' '

    &:last-child
      a
        font-weight:bold
        margin-right: 10px

        +media("<=phone")
          margin-right: 0

  &__link
    color: $charcoal
    display: inline-block
    padding: 0 .3rem 0

    +media("<=phone")
      font-size: .8rem


    &:hover
      color: $green

.site-map
  a
    color:$charcoal
    &:hover
      color: $green
