.nav-minor
  display: block
  text-align: right

  &__container
    background-color: $white
    border-left: 1px solid $borderColor
    border-right: 1px solid $borderColor
    margin: 0 auto
    padding-top: 1rem
    max-width: 1200px

    +media("<=tablet")
      display: none

  li
    display: inline-block

    &:after
      display: inline-block
      content: ' | '
      color: $green
      margin: 0 2px

    &:nth-child(3)

      &:after
        content: ' '

  &__link
    color: $charcoal
    display: inline-block
    padding: 0 .5rem

    &:hover
      color: $green
