//Banner Tall - This is found on the homepage only
.banner-tall
  background-image: url(images/index_hero.jpg)
  background-position: center
  background-size: cover
  height: 200px
  position: relative

  +media(">tablet")
    height: 465px


  &__headline
    bottom: 3rem
    color: $white
    font-family: serif
    font-size: 4rem
    font-weight: 800
    left: 2rem
    line-height: 1
    position: absolute
    margin: 0 0 1rem 1rem
    text-shadow: 2px 2px 2px $charcoal

    span
      font-size:2rem;

    +media("<tablet")
      position: static
      font-size: 2rem
      padding: 2rem

// Banner Standard - This is found on the majority of the internal pages
.banner-standard
  background: $green
  color: $white
  display: table
  height: auto

  // Get rid of weird space below image in the banners
  img
    display: block

  &__box
    padding: 1rem 2rem

  &__heading
    color: $white

  &__text

  &__media
    background-color: $slate

  // This is found on the Approach Page
  &__media-approach
   // background-image: url(../images/meeting.jpg)
   // background-position: center
   // background-size: cover

    +media("<=tablet")
      height: 300px

  // This is found on the Leadership page
  &__media-leadership
   // background-image: url(../images/people.jpg)
   // background-position: center
   // background-size: cover

    +media("<=tablet")
      height: 300px

// Banner Panorama - This is found on the News page
.banner-panorama
  background-image: url(../images/trees.jpg)
  background-position: center
  background-size: cover
  height: 255px
