//- This is the base template for all the pages in the site
//- Luckly, this site only needs one layout(base-layout)
//-
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //- 
    //- This is a block for handling page specific Titles and Descriptions
    block seo
    //-
    //-
    link(href="http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=News+Cycle:400,700", rel="stylesheet", type="text/css")
      
    link(rel='stylesheet', type='text/css', href='/style.css')
      
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/evil-icons/1.7.2/evil-icons.min.css')

    link(rel="shortcut icon", sizes="16x16 24x24 32x32 48x48 64x64", href="/favicon.ico")
    link(rel="apple-touch-icon", sizes="57x57", href="/images/favicon-57.png")
    link(rel="apple-touch-icon-precomposed", sizes="57x57", href="/images/favicon-57.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/favicon-72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/favicon-114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/images/favicon-120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/images/favicon-144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/images/favicon-152.png")
    meta(name="application-name", content="Commerce Trust")
    meta(name="msapplication-TileImage", content="/images/favicon-144.png")
    meta(name="msapplication-TileColor", content="#006547")
  
  body
    .container
      include ../inc/header
      //-
      //- Extend 'content'      
      block content
      //-
      //-
      include ../inc/footer
        
    include ../inc/scripts
